body #layout{
    background-color: #222222;
    margin: 0px;
}

#layout_main_layout_panel_left div.w2ui-panel-content {
    padding: 6px;
}
#layout_main_layout_panel_main div.w2ui-panel-content {
    padding: 5px;
}
.litemenubar-panel{
    z-index: 123;
    color: #aaa !important;
    border-bottom-color: #555 !important;
}

/*body #layout .dg .c,*/
/*body #layout .dg .cr.function,*/
/*body #layout .dg .c select,*/
/*body #layout .dg .property-name,*/
/*body #layout .dg .title {*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-khtml-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
/*}*/


/* only for the right column panel of dat guio */
body #layout #palette .property-name{
    width :100%;
}

body #layout .dg .property-name{
    padding-left: 12px;
}

body #layout #palette .dg.main {
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
    overflow: auto;
}

/*@media only screen and (max-width : 1350px) {*/
    /*body #layout.gui-auto-hide .dg.ac {*/
        /*right: -233px;*/
    /*}*/

    /*body #layout .dg.ac:hover,*/
    /*body #layout.gui-show .dg.ac {*/
        /*right: 0px;*/
    /*}*/

    /*body #layout.gui-auto-hide.gui-transitions .dg.ac {*/
        /*-webkit-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);*/
        /*-moz-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);*/
        /*-o-transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);*/
        /*transition: all 500ms cubic-bezier(0.965, 0.025, 0.735, 0.415);*/

        /*-webkit-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);*/
        /*-moz-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);*/
        /*-o-transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);*/
        /*transition-timing-function: cubic-bezier(0.965, 0.025, 0.735, 0.415);*/

        /*transition-delay: 3s;*/
        /*-webkit-transition-delay: 3s;*/
    /*}*/

    /*body #layout.gui-transitions .dg.ac:hover,*/
    /*body #layout.gui-show.gui-transitions .dg.ac {*/
        /*-webkit-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);*/
        /*-moz-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);*/
        /*-o-transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);*/
        /*transition: all 500ms cubic-bezier(0.095, 0.665, 0.400, 0.835);*/

        /*-webkit-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);*/
        /*-moz-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);*/
        /*-o-transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);*/
        /*transition-timing-function: cubic-bezier(0.095, 0.665, 0.400, 0.835);*/

        /*transition-delay: 0;*/
        /*-webkit-transition-delay: 0;*/
    /*}*/
/*}*/

body #layout .dg.main.taller-than-window .close-button {
    border-top: 1px solid #444;
    border-right: 4px solid #444;
}

body #layout .dg.main .close-button {
    background-color: #444;
    display:none !important;  we want the close button always hidden
}

body #layout .dg.main .close-button:hover {
    background-color: #555;
}

body #layout .dg.main::-webkit-scrollbar {
    background: #3d3d3d;
    width: 11px;
}

body #layout .dg.main::-webkit-scrollbar-thumb {
    background: transparent;
    width: 5px;
    border-left: 5px solid rgba(0,0,0,0.2);
    border-right: 6px solid rgba(0,0,0,0.2);
    border-radius: 0;
}

body #layout .dg {
    color: #aaa;
    text-shadow: none !important;
}

/*body #layout .dg ul{*/
    /*padding: 0px 4px 0px 0px;*/
/*}*/

body #layout .dg li:not(.folder) {
    background: #3d3d3d;
    border-bottom: 0px;
    padding: 0;
}

body #layout .dg li.save-row .button {
    text-shadow: none !important;
}

body #layout .dg li.title {
    padding-left: 22px;
    border-bottom: 1px solid #555;
    background: #444 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 10px 10px no-repeat;
}

body #layout .dg ul .boolean:hover {
    background: #3d3d3d;
}

body  #w2ui-popup .dg .cr.function,
body #layout .dg .cr.function {
    border-top: 1px solid #444;
    background: #333;
    color: #aaa;
    border-bottom: 1px solid #333;
    border-left: none;
}

body  #w2ui-popup .dg ul .function:hover,
body  #layout .dg ul .function:hover {
    background: #3a3a3a;
    border-bottom: 1px solid #2fa1d6;
}

body #w2ui-popup .dg .cr.function:active
body #layout .dg .cr.function:active {
    border-top: 2px solid #444;
    border-bottom: 0;
    background: #2e2e2e;
}

/*body #layout .dg .c select {*/
    /*margin-top: 2px;*/
    /*margin-left: 3px;*/
    /*padding: 3px 5px;*/
/*}*/

body #layout .dg .c select,
body #layout .dg .c input[type=text],
body #layout .dg .cr.number input[type=text] {
    background: #333;
    color: #999;
    border: 0;
    font-size: 10px;
}

body #layout .dg .c select,
body #layout .dg .c select:focus {
    width: 99%;
    outline: 0;
}

body #layout .dg .c input[type=text]:hover {
    background: #444;
}

body #layout .dg .c input[type=text]:focus {
    background: #444;
    color: #fff;
}

body #layout .dg .c .slider {
    background: #555;
}

body #layout .dg .c .slider:hover {
    background: #666;
}

body #layout .dg .c .slider-fg {
    background: #777;
}

body #layout .dg .c .slider:hover .slider-fg {
    background: #999;
}

body #layout .dg li.folder {
    border-left: 0;
}
body #layout .dg .folder .folder{
    padding-left:20px;
}

body #layout .dg.a {
    border-right:4px solid #3d3d3d;
    margin: 0;
}

body #layout div.w2ui-panel div.w2ui-panel .left_rotated_tab {
    display: block;
    position: relative;
    z-index: 125;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 25% 0%;
    -moz-transform-origin: 25% 0%;
    -ms-transform-origin: 25% 0%;
    -o-transform-origin: 25% 0%;
    transform-origin: 25% 0%;
    margin: 50px 0px 105px -8px;
    width: 125px;
    padding: 0;
    background: #222;
}

body #layout div.w2ui-panel div.w2ui-panel .right_rotated_tab {
    display: block;
    position: relative;
    z-index: 125;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 25% 0%;
    -moz-transform-origin: 25% 0%;
    -ms-transform-origin: 25% 0%;
    -o-transform-origin: 25% 0%;
    transform-origin: 25% 0%;
    margin: 90px 0px 110px -26px;
    width: 110px;
    padding: 0;
    background: #222;
}

body #layout .dg .selector {
    margin-top: 20px;
}


#layout_layout2_panel_left div.w2ui-panel-content, #layout_layout3_panel_right div.w2ui-panel-content{
    background: #222;
}

.w2ui-layout > div #layout_layout2_panel_left .w2ui-panel-tabs > .w2ui-tab.active, .w2ui-layout > div #layout_layout3_panel_right .w2ui-panel-tabs > .w2ui-tab.active {
    background-color: #3d3d3d;
}

#top-buttons a {
    color:inherit;
    text-decoration:none;
    display:block;
    padding:4px;
}


#top-buttons {
    margin-left:  10px;
}
.top-button {
    color:#aaa;
    float:left;
    width:120px;
    text-align: center;
    background-image: linear-gradient(#222, #3d3d3d);
    border: 1px solid #111111;
    border-top: none;
    border-left-color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.top-button:hover, #top-buttons .pressed  {
    background-image: linear-gradient(#3a3a3a, #4f4f4f);
    color:#E5E6E7;
}

.top-button i {
    text-align: center;
    display: block;
}
body #layout .dg li.code-title {
    padding-left: 22px;
    border-bottom: 1px solid #555;
    background-color: #444;
}
#code  {
    overflow: auto;
}
#code::-webkit-scrollbar {
    background: #3d3d3d;
    width: 11px;
}

#code::-webkit-scrollbar-thumb {
    background: transparent;
    width: 5px;
    border-left: 5px solid rgba(0,0,0,0.2);
    border-right: 6px solid rgba(0,0,0,0.2);
    border-radius: 0;
}
#code pre {
    margin-top: 0px;
}
img.texture-selector{
    width:100px;
    height:100px;
    float:right;
}

.w2ui-inner-popup .texture-popup li{
    height:100px;
}
.w2ui-inner-popup .texture-popup span{
    text-align:center;
    height: 100px;
    line-height: 100px;
    width: 60%;
}

#mesh-changer {
    position: absolute;
    right: 15px;
    top: 15px;
}

.mesh-changer-button {
    color:#aaa;
    float:left;
    background-image: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 7px;
}

.mesh-changer-button:hover {
    color:#E5E6E7;
}

.search {
    margin: 14px 23px;
    border: 0;
    padding: 7px 8px;
    font-size: 12px;
    width: 80%;
    box-sizing: border-box;
    border-radius: 3px;
    background: #444;
    border: 1px solid #444;
    color: #999;
}

.search:focus {
    background: #484848;
    color: #aaa;
    border: 1px solid rgba(255,255,255,0.1);
    outline: 0;
}

.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1px;
    width: 8px;
    cursor: pointer;
}

.search::-webkit-search-cancel-button:before {
    height: 1px;
    width: 10px;
    content: 'x';
    font-family: Arial;
    line-height: 0;
    font-size: 13px;
    color: #999;
    font-weight: bold;
    cursor: pointer;
}

.search::-webkit-input-placeholder {
    color: #777;
}

.search:-moz-placeholder {
    color: #777;
}

.search::-moz-placeholder {
    color: #777;
}

.search:-ms-input-placeholder {
    color: #777;
}
